{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Create New Blog Post{% endblock %}</title>
</head>

<body>
{% block content %}
    {% if user.is_authenticated %}
<h3> Add Blog Post</h3>
    <br>
    <br>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}

            <button class="btn btn-secondary">Post</button>
        </form>
    </div>
        <script>
        var name = "{{ user.id}}"
        document.getElementById("id_author").value = name;

        </script>
{% else %}
    <body>
    <h4> Log In to Continue.</h4>
    </body>
{% endif %}
{% endblock %}

</body>
</html>