{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{post.title_tag}}{% endblock %}</title>
</head>


<body>
{% block content %}
{% if user.is_authenticated%}
<h1>{{ post.title }}</h1>
    <small> By: {{ post.author }} on {{ post.pub_Date }}</small>
    {% if post.author.id == user.id %}
    <small><br><a href="{% url 'update_post' post.pk %}">(EDIT)</a> <a href="{% url 'delete_post' post.pk %}">(DELETE)</a></small>

    {% endif %}
<br>
<hr>
{{ post.body|safe}}
<hr>
    <br>
    <form action="{% url 'like_post' post.pk%}" method="POST">
    {% csrf_token %}

        {% if liked %}
        <button name="post_ids", type="submit", value="{{ post.id }}", class="btn btn-danger btn-sm"> Dislike </button>
        - {{ total_likes }} Likes
        {% else %}
        <button name="post_ids", type="submit", value="{{ post.id }}", class="btn btn-primary btn-sm"> Like </button>
        - {{ total_likes }} Likes
        {% endif %}
    </form>
    <br>
<hr>
<a href="{% url 'home' %}"><div type="button" class="btn btn-secondary">BACK
</div></a>
    {% else %}
    <body>
    <h4> Log In to Read full Doc.</h4>
    </body>
{% endif %}
{% endblock %}
</body>

</html>