{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{post.title_tag}}{% endblock %}</title>
</head>

{% block content %}
<h1>{{ post.title }}</h1>


    <small> By: {{ post.author }} on {{ post.pub_Date }}</small>
    {% if user.is_authenticated%}
    {% if post.author.id == user.id %}
    <small><br><a href="{% url 'update_post' post.pk %}">(EDIT)</a> <a href="{% url 'delete_post' post.pk %}">(DELETE)</a></small>
    {% endif %}

    {% endif %}
<br>
<hr>
    {% if post.header_image %}

    <img src="{{ post.header_image.url }}">
        {% endif %}
{{ post.body|safe}}
<hr><br>
    {% if user.is_authenticated%}
    <form action="{% url 'like_post' post.pk%}" method="POST">
    {% csrf_token %}

        {% if liked %}
        <button name="post_ids", type="submit", value="{{ post.id }}", class="btn btn-danger btn-sm"> Dislike </button>
        - {{ total_likes }} Likes
        {% else %}
        <button name="post_ids", type="submit", value="{{ post.id }}", class="btn btn-primary btn-sm"> Like </button>
        - {{ total_likes }} Likes
        {% endif %}
    </form>
    {% endif %}
    <br><br>
    {% if post.author.profile.id %}
    <br>
    <br>
        <div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-2">
        {% if post.author.profile.profile_pic %}
            <img src="{{ post.author.profile.profile_pic.url }}" width=200 height=200 >
            {% else %}
            <img src="{% static 'blog/images/alt.png' %}" width=200 height=200>
            {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
      <a href="{% url 'profile-page' post.author.profile.id %}">
        <h5 class="card-title">{{ post.author }}</h5>
      </a>
           <p class="card-text">{{ post.author.profile.bio }}</p>
        <p class="small text-muted">
            {%  if post.author.profile.social_media_insta %}
          <a href="{{ post.author.profile.social_media_insta }}">Instagram |  </a>
            {% endif %}
            {%  if post.author.profile.social_media_github %}
            <a href="{{ post.author.profile.social_media_github }}">Github |  </a>
            {% endif %}
                {%  if post.author.profile.social_media_pinterest %}
                <a href="{{ post.author.profile.social_media_pinterest }}">Pinterest</a>
                {% endif %}
        </p>

      </div>
    </div>
  </div>
</div>
    <br>
    <br>
        {% endif %}
    <hr>
    <h3><strong>Comments</strong></h3>
    <br>
    {% if user.is_authenticated%}
    {% if not post.comments.all %}
        <h5>No Comments Yet</h5>
        {% else %}

        {% for comment in post.comments.all %}
            <hr>
            <strong>
            {{ comment.name }} - {{ comment.date_added }}
            </strong>
            <br>
            {{ comment.body }}
            <br><br>
        {% endfor %}
        {% endif %}
        <br>
                <a href="{% url 'add-comment' post.pk %}"> Add Comment </a>

    {% else %}
        <h4>Log In to Continue</h4>
    {% endif %}
    <br><br>
    <hr>

<a href="{% url 'home' %}"><div type="button" class="btn btn-secondary">BACK

</div></a><br><br>

{% endblock %}
</body>

</html>